
Source: capi-network-nfc
Section: libs
Priority: extra
Maintainer: Sechang Sohn <sc.sohn@samsung.com>, Sungjae Lim <sungjae.lim@samsung.com>, Seungkeun Lee <sngn.lee@samsung.com>, Kangho Hur<kagho.hur@samsung.com>
Build-Depends: debhelper (>= 5), libnfc-common-lib-dev, libnfc-manager-dev, dlog-dev, capi-base-common-dev, libglib2.0-dev

Package: capi-network-nfc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A NFC library in Tizen Native API

Package: capi-network-nfc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-nfc (= ${Source-Version}), capi-base-common-dev
Description: A NFC library in Tizen Native API (DEV)

Package: capi-network-nfc-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-nfc (= ${Source-Version})
Description: A NFC library in Tizen Native API (DBG)

